[Unit]
Description=Python Bot
After=network.target

[Service]
User=petr
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/petr/projects/UPPETIT_Task_Bot
ExecStart=/home/petr/projects/UPPETIT_Task_Bot/venv/bin/python main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target