[Unit]
Description=Python Bot
After=network-online.target
Wants=network-online.target

[Service]
User=petr
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/petr/projects/UPPETIT_Task_Bot
ExecStart=/home/petr/projects/UPPETIT_Task_Bot/venv/bin/python main.py
Restart=always
RestartSec=5
StartLimitIntervalSec=300
StartLimitBurst=30

[Install]
WantedBy=multi-user.target